@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Variable: Biến
// width
$main: 1366px;
$container: 1205px;
// font
$fontFamily: "Montserrat", sans-serif;
// color
$colorTextPrimary: #141414;
$colorWhite: #ffffff;
$colorDesc: #787878;
$colorBtnPrimary: #10c9c3;
$colorBgPrimary: #f5f5f5;
// size
$desc12: 12px;
$descBlock: 16px;
$titleFooter18: 18px;
$descSlider20: 20px;
$descBlock24: 24px;
$titleSlider40: 40px;
$titleBlock30: 30px;

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  a {
    text-decoration: none;
  }
  h2,
  p,
  ul,
  a,
  li {
    list-style: none;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
  }
  .btn {
    background-color: $colorBtnPrimary;
    display: inline-block;
    padding: 2.5rem 4.5rem;
    color: $colorWhite;
    cursor: pointer;
    font-size: $desc12;
  }
  .container {
    max-width: $container;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
  .title--block {
    font-size: $titleBlock30;
    color: #000000;
    font-weight: bold;
  }
  .desc--block {
    font-size: $descBlock;
    color: $colorDesc;
    -webkit-line-clamp: 3;
  }
}

.wrapper {
  font-family: $fontFamily;
  max-width: $main;
  margin: 0 auto;

  // block nav
  .nav {
    position: relative;
    z-index: 1;
    padding-top: 4rem;
    &__main {
      display: flex;
      justify-content: space-between;
      &-logo {
        max-width: 3rem;
      }
      &-list {
        display: flex;
        font-size: $desc12;
        font-weight: bold;
        align-items: center;
      }
      &-item {
        margin-left: 3rem;
      }
      &-link {
        color: $colorTextPrimary;
      }
    }
  }

  // blick slider
  .slider {
    height: 67rem;
    background: center/cover no-repeat url(../img/bg__slider.png);
    margin-top: -7rem;
    &__content {
      margin-left: auto;
      padding: 20rem 0;
      width: 50rem;
      &-title {
        font-size: $titleSlider40;
        margin-bottom: 3rem;
        font-weight: 600;
      }
      &-desc {
        font-size: $descSlider20;
        -webkit-line-clamp: 3;
        margin-bottom: 3rem;
        color: $colorDesc;
      }
    }
  }

  // block about
  .about {
    margin: 10rem 0;
    .container {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    &__content {
      width: 60rem;
      margin: 0 auto;
      &-title {
        margin-bottom: 4rem;
      }
      &-desc {
        margin-bottom: 4rem;
      }
    }
  }

  // block pro
  .pro {
    width: 100%;
    &__content {
      display: flex;
      &-form {
        width: 50%;
        padding: 16.5rem 8.5rem;
      }
      &-item {
        margin-top: 4rem;
        padding-bottom: 2rem;
      }
      &-rule {
        width: 100%;
        border-bottom: 3px solid #d8d8d8;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          height: 0.3rem;
          background-color: $colorBtnPrimary;
        }
        &--75::before {
          width: 75%;
        }
        &--90::before {
          width: 90%;
        }
        &--65::before {
          width: 65%;
        }
      }
      &-desc {
        font-size: $desc12;
      }
      &-img {
        width: 50%;
        font-weight: bold;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  // block rate
  .rate {
    background-color: $colorBtnPrimary;
    &__items {
      margin-left: -7rem;
      padding: 10rem 0;
      display: flex;
      justify-content: space-around;
      &-item {
        display: flex;
        margin-left: 7rem;
        align-items: center;
      }
      &-icon {
        margin-right: 4rem;
      }
      &-content {
        color: $colorWhite;
      }
      &-number {
        margin-bottom: 1.5rem;
      }
      &-desc {
        text-transform: uppercase;
      }
    }
  }

  // picture
  .picture {
    display: flex;
    flex-direction: column;
    &__items {
      display: flex;
      flex-wrap: wrap;
      &-item {
        width: 25%;
        height: 34rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &__footer {
      text-align: center;
      background-color: $colorBgPrimary;
      &-desc {
        font-size: $desc12;
        padding: 2.5rem 0;
      }
    }
  }

  // block out
  .our {
    margin: 10rem 0;
    .container {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
    &__content {
      width: 55%;
      margin: 4rem 0;
    }
    &__img {
      height: 57rem;
      position: relative;
      &-item {
        height: 100%;
        object-fit: contain;
      }
      &-play {
        position: absolute;
        background-color: $colorBtnPrimary;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        i {
          color: $colorWhite;
          font-size: $descSlider20;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  // list
  .list {
    background-color: $colorBgPrimary;
    &__items {
      padding-top: 10rem;
      padding-bottom: 4rem;
      width: 124.5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin-left: -7rem;
      &-item {
        width: calc(25% - 7rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 7rem;
        margin-bottom: 5.5rem;
      }
      &-icon {
        margin-bottom: 3rem;
      }
      &-title {
        width: 100%;
        margin-bottom: 2rem;
        p {
          font-weight: bold;
          -webkit-line-clamp: 1;
          font-size: $desc12;
        }
      }
      &-desc {
        width: 100%;
        font-size: $descBlock;
        p {
          -webkit-line-clamp: 2;
        }
      }
    }
  }

  // srared
  .stated {
    background-color: $colorBtnPrimary;
    &__content {
      display: flex;
      flex-direction: column;
      color: #ffffff;
      padding-top: 10rem;
      padding-bottom: 8rem;
      align-items: center;
      text-align: center;
      width: 81.5rem;
      margin: 0 auto;
      &-title {
        font-size: $descBlock24;
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 4rem;
      }
      &-desc {
        font-size: $descBlock;
        margin-bottom: 10rem;
      }
      &-btns {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
      &-btn:first-child {
        content: "";
        height: 1rem;
        width: 1rem;
        background-color: #ffffff;
        border-radius: 50%;
      }
      &-btn {
        margin: 0.3rem;
        content: "";
        height: 0.5rem;
        width: 0.5rem;
        background-color: #b0e8e7;
        border-radius: 50%;
      }
    }
  }

  // logo
  .logo {
    padding: 10rem 0;
    &__list {
      margin: 0 5rem;
      display: flex;
      justify-content: space-between;
      &-item {
        max-width: 10rem;
        object-fit: cover;
        img {
          width: 100%;
        }
      }
    }
  }

  // Need
  .need {
    background-color: $colorBgPrimary;
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 67rem;
      margin: 0 auto;
      padding-top: 10rem;
      &-desc {
        width: 60rem;
        font-size: $descBlock;
        text-align: center;
        margin: 4rem 0;
        line-height: 1.5;
      }
      &-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        input {
          width: 100%;
          padding: 2rem;
          margin-bottom: 3rem;
        }
      }
      &-name {
        display: flex;
        justify-content: space-between;
        input {
          width: 32rem;
        }
      }
      &-btn {
        margin-bottom: 10rem;
        button {
          background-color: $colorBtnPrimary;
          padding: 2.5rem 4.5rem;
          color: #ffffff;
        }
      }
    }
  }

  // footer
  .footer {
    background-color: $colorTextPrimary;
    color: #ffffff;
    .container {
      display: flex;
      padding: 10rem 1.5rem;
      justify-content: space-between;
    }
    &__info {
      &-title {
        margin-bottom: 3rem;
        h2 {
          font-weight: bold;
          font-size: $titleFooter18;
        }
      }
      &-desc {
        p {
          font-size: $descBlock;

          margin-bottom: 1rem;
        }
      }
    }
    &__hotline {
      h2,
      p {
        font-size: $descBlock;
        margin-bottom: 1rem;
        font-weight: 400;
      }
    }
    &__left {
      display: flex;
      width: 50%;
      justify-content: space-between;
    }
    &__link {
      width: 50%;
      display: flex;
      justify-content: space-evenly;
      &-list {
        justify-self: flex-end;
        height: 10rem;
        display: flex;
        flex-direction: column;
      }
      &-list:nth-child(2) {
        margin-left: 5.5rem;
      }
      &-list:first-child,
      &-list:last-child {
        margin-left: 14.5rem;
      }
      &-item {
        color: #ffffff;
        font-size: 15px;
        margin-bottom: 1rem;
      }
    }
  }
}
